<form action="">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Movie Name">
      <div class="input-group-append">
        <input type="submit" class="btn btn-outline-secondary" value="Search"/>
      </div>
    </div>
</form>