$test: red;

.weak {
  background-color: $test;
}

.ok{
  background-color: yellow;
}

.good {
  background-color: green;
}

.bar-container{
  background-color: lightgray;
  width: 100%;
  height: 5px;
}

.bar{
  height: 100%;
}

.password-box{
  width:99%;
}