.square{
    height: 20px;
    width: 20px;
    border: 0.1px solid black;
    margin: 0;
    opacity: 0.8;
}

.brush{
    height: 20px;
    width: 200px;
    border: 0.1px solid black;
    margin: 0;
}

.container{
    width: 202px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}