*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

a{
    text-decoration: none;
    color: black;
}
body{
    width: 100%;
    margin: 0 auto;
    background: #EEE;
}


header{
    background: yellow;
    display: flex;
    width: 100%;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: 'Gugi', cursive;
}

.search-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    padding: 15px;
    /* background: rgba(0,0,0,0.2); */
}

.search-txt{
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 0.1px black solid;
    margin: 5px;
}

.search-btn{
    width: 20%;
    background: transparent;
    border: 0.1px solid black;
}

.search-container > *{
    font-size: 1.5em;
}

.movie-card{
    border-radius: 5px;
    background: white;
    padding: 20px; 
    border: 0.1px black solid;
}

.movie-card:active{
    background: #DDD;
}



.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-container{
    width: 500px;
    /* border: 0.1px solid black; */
}
.detail-container{
    width: 500px;
    background: wheat;
    align-content: center;
    /* border: 0.1px solid black; */
}

.header-container{
    flex-direction: column;
    align-content: center;
    width: 500px;
}

.selected-movie{
    margin-left: 15px;
    background: wheat;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.unselected-movie{
    margin-right: 15px;
    border-radius: 5px;
    background: white;
}